<%= form_with(model: seminartopic, local: true) do |form| %>
  <% if seminartopic.errors.any? %>
    <div id="error_explanation" class="form-group">
      <h2><%= pluralize(seminartopic.errors.count, "error") %> prohibited this seminartopic from being saved:</h2>

      <ul>
      <% seminartopic.errors.full_messages.each do |message| %>
        <li><%= message%></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :descripton %>
    <%= form.text_field :descripton, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :StudentName %>
    <%= form.text_field :studname, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :user_id, value:current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
